.wrapper{
    width: 30%;
    height: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px;
    padding: 12px;
}

.doctor-card{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ico{
    font-size: 2em;
    color: aliceblue;
}

.timecard{
    background: white;
    padding: 10px;
    border-radius: 15px;
}

.name-dept > h5, .name-dept > h6{
    font-weight: 300;
    color: aliceblue;
}

.name-dept > h5{
    font-size: 1.1em;
    margin-bottom: 3px;
}
.name-dept > h6 {
    font-size: 0.9em;
}